*.zip
*.pyc
kanji-colorize-*
kanjivg
kanji
MANIFEST
setup.py
venv

!/kanjicolorizer/data/kanjivg
!/kanjicolorizer/tests/testdata/kanji-colorize-spectrum
!/kanjicolorizer/tests/testdata/kanji-colorize-contrast
